# WHO ICD-11 API Configuration
WHO_CLIENT_ID=your_client_id_here
WHO_CLIENT_SECRET=your_client_secret_here

# Server Configuration
PORT=3000
NODE_ENV=development

# API Configuration
WHO_TOKEN_URL=https://icdaccessmanagement.who.int/connect/token
WHO_API_BASE_URL=https://id.who.int/icd
WHO_API_VERSION=v2


DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=<YOUR_API_KEY>"
# ASK ANAS MASTER FOR THIS DATABASE URL